<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <header>
        <h1><a href="/">Bar Inventory</a></h1>
        <div id="link-group">
            <a href="/items">View Items</a>
            <a href="/categories">View Categories</a>
            <a href="/subcategories">View Sub Categories</a>
        </div>
    </header>
    <main>
        <form action="/categories" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <button type="submit">Add Category</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <td><%= category.id %></td>
                        <td><%= category.name %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <link rel="stylesheet" href="/styles.css">
</body>
</html>