:root {
  --primary-color: #252422;
  --secondary-color: #403d39;
  --tertiary-color: #ccc5b9;
  --auxillary-color: #eb5e28;
  --white-color: #fffcf2;
  --font-family:
    system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--white-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background-color: var(--auxillary-color);
  color: var(--white-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button:hover {
  background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    text-align: center;
}

input, select {
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    max-width: 300px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

input:focus, select:focus {
  outline: var(--auxillary-color)  2px solid;
  border: none;
}

main {
    flex: 1;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  font-size: 0.95rem;
}

th, td {
  text-align: left;
  padding: 0.75rem 1rem;
}

th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

/* zebra striping */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

